.App {
    text-align: center;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding-top: 50px;
}

.App-link {
    color: #61dafb;
}

.form-label {
    height: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.chart-container {
    height: 600px;
    width: calc(100% - 100px);
    background-color: white;
    margin-bottom: 500px;
}

.input-container {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.field {
    width: 100px;
}